body{
    
    background: #fff;
    font-family: "Helvetica";
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
}

header{
    
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "myFavorites logo ..";

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.icon{
    padding-top: 3em;
    /* padding-right: 20em; */
    grid-area: myFavorites;
}

.icon svg{
    fill:none;
    transition: fill .2s;
}

.logo{
    grid-area: logo;
}



nav {
    padding: 2rem;
    display: flex;
}

nav input{
    margin-left:2em;
    margin-right:2em;
}

nav svg{
display:  none;
}

/*
.picture-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;*/

    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
*/

 /*nytt*/
.picture-container {

    line-height: 2em;
    -webkit-column-count: 3;
    -webkit-column-gap: .8em;
    -moz-column-count: 3;
    -moz-column-gap: 0.8em;
    column-count: 3;
    column-gap: .8em;
}


@media (min-width: 300px){

    /* header{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "myFavorites logo";
    } */

    .picture-container{
        line-height: 2em;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }
}

@media (min-width: 600px){

    .picture-container{
        line-height: 2em;
        -webkit-column-count: 2;
        -webkit-column-gap: 0.5em;
        -moz-column-count: 2;
        -moz-column-gap: 0.5em;
        column-count: 2;
        column-gap: 0.5em;
    }
}

@media (min-width: 1000px){

    .picture-container{
        line-height: 2em;
        -webkit-column-count: 3;
        -webkit-column-gap: 0.8em;
        -moz-column-count: 2;
        -moz-column-gap: 0.5em;
        column-count: 3;
        column-gap: 0.8em;
    }
}


.picture-container img {

    max-width: 100%;
    height: auto;
}

/* button, input{
    border: solid 1px black;
    background: none;
}

button{
    background-color: none;
    transition: background-color .2s, color .2s;
    color: black;
}

button:hover{
 background-color: indigo;
 color: white;
}



button:active, ion-icon:active{
    transform: scale(0.98);
}

button:focus, ion-icon:focus{
    outline: none;
} */




#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img{
    width: 40em;
}

#save{
    background: url("img/save-icon.svg") no-repeat;
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 2em;
    right: 20em;
    display: none;
    z-index: 1003;
    border:none;
}

#save.active{
   display: block;
}

#save.active:hover {
    width: 3.2em;
    height: 3.2em;
}

#like{
    background: url("img/like-icon.svg") no-repeat;
    position: fixed;
    width: 3em;
    height: 3em;
    bottom: 2em;
    right: 15em;
    display: none;
    z-index: 1003;
    border: none;
}

#like.active{
   display: block;
}

#like.active:hover {
    width: 3.2em;
    height: 3.2em;
}


#name{
    position: fixed;
    bottom: 5em;
    right: 10em;
    display: none;
    z-index: 1010;
    border: none;
    font-weight: 600;
    color: black;
    padding: 1em;
    background: white;
}

#like.name{
   display: block;
}


.prototype{
    display: none;
}

img {
    width: 100%;
}

.pagination {
    display: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}