body{
    
    background: #fff;
    font-family: "Helvetica";
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    padding-top:2em;
    width: 8em;
}

nav {
    padding: 1rem;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;*/

}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.picture-container img {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border: 1px solid black;
}

/* button, input{
    border: solid 1px black;
    background: none;
}

button{
    background-color: none;
    transition: background-color .2s, color .2s;
    color: black;
}

button:hover{
 background-color: indigo;
 color: white;
}



button:active, ion-icon:active{
    transform: scale(0.98);
}

button:focus, ion-icon:focus{
    outline: none;
} */


.icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
}

#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img{
    max-width: 90%;
    max-height: 80%;
}


@media screen and (min-width: 1000px){
    body{
        /*background: red;*/
    }
}

.prototype{
    display: none;
}

img {
    width: 100%;
}